<header id="headWrapper">
    <nav class="orange z-depth-0">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img src="/assets/img/solera-logo.png" />
            </a>
            <ul id="moduleNav" class="right hide-on-small-only">
                <li><a href="">Main</a></li>
                <li><a href="">Terms of Contract</a></li>
                <li><a href="">Third part</a></li>
                <li><a href="">Contract</a></li>
                <li><a href="">Damage Description</a></li>
                <li><a href="">Indemnisation</a></li>
                <li><a href="">Report Details</a></li>
                <li><a href="">Supporting Doc</a></li>
            </ul>
        </div>
    </nav>
</header>
<div id="mainInfosWrapper" class="row white z-depth-1">
    <div class="col s2 valign-wrapper">CLAIM : 0000000000001</div>
    <div class="col s2 valign-wrapper">Cnt : 00000000000001</div>
    <div class="col s2 valign-wrapper">Insured : FANFAN LA TULIPE</div>
    <div class="col s2 valign-wrapper">Evt : Tremblement de terre</div>
    <div class="col s2 valign-wrapper">Product : MRH</div>
    <div class="col s2 valign-wrapper">Date : 25/04/2016</div>
</div>